name: Release AddOn

on:
  push:
    tags:
      - "**"

env:
  CF_API_KEY: ${{ secrets.CURSE_API_KEY }}
  GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build and Package
        uses: BigWigsMods/packager@v2
